@font-face {
    font-family: "Roboto";
    src: url("../Shared/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Indie Flower";
    src: url("../Shared/fonts/IndieFlower.ttf");
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Roboto;
    background-image: url("StockSnap_VZ86EDZ771.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/*Nav menu
====================================*/
nav {
    display: flex;
    width: 100%;
    height: 75px;
    border-bottom: 2px solid black;
    margin: 0px 0px;
    padding: 0px 0px;
    box-shadow: 3px 3px 10px rgb(82, 78, 78);
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 14, 14, 0.7);
}
.logo {
    font-family: "Indie Flower";
    margin: 15px 45px;
    font-weight: bold;
    font-size: 2.2em;
    color: rgb(223, 114, 41);
    letter-spacing: 2px;
}
.navButtons {
    margin-right: 80px;   
}
.navButtons a {
    font-size: 1.8em;
    text-decoration: none;
    margin: 0px 35px;
    color: rgb(223, 114, 41);
    letter-spacing: 1.1px;
}
.navButtons a:hover, .logo:hover {
    color: rgb(255, 102, 0);
}

/*Main content
==================================*/
main {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px;
    width: 100%;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-family: "Indie Flower";
    margin: 0px 0px;
    font-size: 4.4em;
    color: rgb(255, 102, 0);
}
main h3 {
    font-size: 2.9em;
    text-align: center;
    margin: 0px 0px;
    color: rgb(255, 102, 0);
}

/*Footer styling
==================================*/
footer {
    font-family: "Indie Flower";
    font-size: 2.2em;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 14, 14, 0.9);
    color: rgb(39, 223, 223);
    margin: 0px 0px;
    padding: 0px 0px;
    border-top: 2px solid rgb(219, 207, 207);
    letter-spacing: 2px;
    height: 120px;
}